
.horizontally-middle{
  margin: 0 auto;
  text-align: center;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-10{
  margin-top: 10px;
}
.ml-20{
  margin-left: 20px;
}
.text-center{
  text-align: center;
}

.btn-green{
  background: #6AA84F;
  color: white;
}

.word-break{
  word-wrap: break-word;
}

.on-hover{
  cursor: pointer;
}
a {
  word-wrap: break-word;
}
.ant-card-body{
  padding:10px !important;
}