.collapse-height{
  height: 300px;
  overflow-y: auto;

}
.number-circle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: #668DB0;
}