.main-heading-wrapper{
	padding-bottom: 10px;
	border-bottom: 2px solid;
}
.inner-heading-wrapper{
	margin-top: 15px;
}
.form-inner-wrapper{
	padding: 5px 10px;
}
.salary-range-error{
	color: #f5222d;
	margin-top: 2px;
	margin-bottom: -5px;
	transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.full-border {
	border: 2px solid black;
	padding: 1px 15px 15px;
	margin: 25px
}


