.menu-wrapper{
  a {
    color: white !important;
  }
  a:hover {
    text-decoration: underline;
  }
}
.menu-fold {
  height: 100%;
  padding: 10px;
  background: #001529;
  color: white;
  font-size: 24px;
}
.icon-font-22 {
  font-size: 22px !important;
}