.selectedCard{
  border: 2px solid rgb(83, 144, 236);
}
.normalCard{
  border: 1px solid black;
}
.margin_1rem{
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.btn-style{
  text-align: center;
  margin: auto;
  max-width: 400px;
  margin-top: 75px;
}