.ReactPasswordStrength-strength-desc{
    left: 288px !important;
    width: 97px;
  }
  .ReactPasswordStrength {
      width: 300px !important;
      height: 32px !important;
  }
.ReactPasswordStrength-input{
    width: 300px !important;
    height: 32px !important;
  }