.view-profile-container {
  font-size: 24;

}

.hr-line {
  font-weight: bold;
  height: 2px;
  background-color: black;

}

.text-align {
  text-align: left;
}

.icon {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: -20px;
}

.progress-bar-disclaimer {
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
}

.font-18 {
  font-size: 18px;
  color: rgb(62, 62, 185);
}

.progress-lg {
  .ant-progress-bg{
  height: 15px !important;
  }
}
  