.user_svg svg{
  font-size: 30px;
  margin-bottom: 10px;
  // margin-left: 10px;
  color: black;
}

.anchorStyle {
  border: none;
}

.anchorStyle .ant-menu-submenu-arrow{
  display: none;
}
.lg-modal{
  .ant-modal-content{
    width: 600px;
  }
}