.view-profile-container{
    font-size: 24;
    
}
.hr-line{
font-weight: bold;
height: 2px;
background-color: black;

}
.text-align{
    text-align: left;
}
.icon{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: -20px;
}