.cv-container{
    max-width: 650px;
    margin: auto;
}
.btn-container{
    max-width: 650px;
    margin: auto;
  
}
.checkbox-style{
    font-weight: bold;
    margin: 20px;
    display: block;
    margin-left: 4px;
}
.upload-btn{
    margin-top: 20px;
    margin-left: 2px;
}
.view-cv-container{
    max-width: 650px;
    margin: auto;
    
  
}