.margin_3rem{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.margin_1rem{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.margin_2rem{
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.mb_3rem{
  margin-bottom: 3.5rem;
}
.mb_2rem{
  margin-bottom: 2.5rem;
}
.padding_2rem{
  padding: 2rem;
}