.heading-wrapper {
  padding-bottom: 10px;
}


.ant-slider-custom-styles {
  margin-bottom: 0px;
  margin-top: 8px;
}

.width-330{
  width: 330px;
}
.width-230{
  width: 230px;
}
.form-wrapper{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}

.bottom-border{
  border-bottom: 2px solid black !important;
}
.main-heading-wrapper{
	padding-bottom: 10px;
	border-bottom: 2px solid;
}